
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f2f2f2;
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}


/* Giving our navbar a background color */
.navbar {
  padding:0;
  margin:0;
  background:white;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;
  /*background: #fff; */
}

/* Getting rid of the default link styles here */
.navbar li a {
 /* color: #000; */
  text-align:center;
  text-decoration: none;
}
.lat-box {
  font-size:25px;
  background: #12cccc;
}
.lat-box a {
  padding:7px;
  margin-left:5px;
  margin-right:5px;
  color:white;
  display:block;
}
.menu-box {
  margin-top: 0px;
  font-size:20px;

}
.menu-box a {
  color:#000;
  padding:10px;
  display:block;
}
/*  background: #260fbf;*/

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-top: 0px;
  font-size:20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lat-box-content:hover {
  background-color:#c9c9c9;
  color:white;
  display:block;
}

.navbar li a:hover {
  background-color:#c9c9c9;
  display:block;
}
.dropdown-content a:hover {background-color: #f2f2f2}

.lat-box:hover ,.menu-box:hover,
.dropdown:hover .dropdown-content { display: block;}

.dropdown:hover .dropbtn {  background-color: #c9c9c9;}

.large-visual {
  display:inline;
}
.small-visual {
  display:none;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 992px) {

.large-visual {
    display:none;
  }
.small-visual {
   display:inline;
  }

  /* .navbar ul {
    visibility: hidden;
  }

.nav-select {
    visibility: visible;
  } */  
} 

/* Styling below the nav bar */

.summary {
margin-top:20px;

} 
.caption{
  color:#12cccc;
}
.left-float{
  float:left;
  background-color:white;
}
.right-float{
  float:right;
}
.box-border {
  border-style:solid;
  border-color:#12cccc;
  border-width:2px;
}
